<style> 
     a {
    text-align: center;
    border: 4px double black;
    background: ; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
   }
     body {
    margin: 5px;            /*отступ*/
    padding: 5px;
}
ul {
    font: 16px 'Verdana';
    border-radius: 20px;    /*скругление блока*/
    border: block;
    font-weight: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;  /*запрещает обтекание*/
    float: none;
}
ul.menu > li {
    float: none;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 20px;              /*размер блоков*/
    color: white;               /*цвет текса на блоках*/
    background-color: #FF6347;  /*цвет блоков*/
    text-decoration: none;      /*текст на блоках*/
}
ul.menu > li > a:hover {
    background-color: blue;      /*цвет при наведении на блок*/
}
ul.submenu {
    font: 14px 'Verdana';
    display: none;
    position: relative;
    width: auto;              /*ширина*/
    top: 1px;                 /*отступ от ПУТЬ*/
    left: auto;               /*отступ */
    background-color: white;  
    /*border: 1px solid red;    толщина, стиль, цвет границы*/
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;       /*высота выпадающего блока*/
    color: white;
    background-color: red;  /*фон выпадающего блока*/
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;     /*подчеркивание после наведения на блок*/
}
     ul.menu > li:hover > ul.submenu {   /*отобразить меню при наведении*/
    display: block;
}
 </style>