<!DOCTYPE html><html lang=ru><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><title>mobile</title><link href=mobile/css/app.97d71b60.css rel=preload as=style><link href=mobile/js/app.286366b9.js rel=preload as=script><link href=mobile/js/chunk-vendors.f69f9bd4.js rel=preload as=script><link href=mobile/css/app.97d71b60.css rel=stylesheet></head><body><noscript><strong>We're sorry but mobile doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><audio><source src=mobile/audio/signal.mp3><source src=mobile/audio/signal.ogg></audio><script src=libs/socket.io.dev.js></script><script>var audio = document.getElementsByTagName("audio")[0];
      var user = "<%=user %>";
      var socket = io.connect(location.host);
      setInterval(() => {
        socket.emit('client2server', '{"name":"<%=user %>"}');
      }, 1000);</script><script src=mobile/js/chunk-vendors.f69f9bd4.js></script><script src=mobile/js/app.286366b9.js></script></body></html>