@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 2.3em;
}

main {
    padding: 0 5%;
    padding-top: 9vh;

}

header {
    position: fixed;
    height: 9vh;
    background-color: deepskyblue;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 0.1vh 1.4vh 0.3vh grey;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
header div {
    height: 4.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    justify-content: center;
}

p {
    display: flex;
    padding: 0px 4%;
    margin: 1.5% 10%;
    min-height: 149px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

.list {
    padding: 0;
    margin: 20px 0;
    display: flex;
    height: 10vh;
    background-color: #e6e6e6;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
    position: relative;
}

.list div {
    display: flex;
    justify-content: center;
}

.list div:nth-child(1) {
    width: 20%;
}
.list div:nth-child(2) {
    width: 20%;
}
.list div:nth-child(3) {
    width: 60%;
}
.list:not(.list_header) div:nth-child(3) {
    display: flow-root;
}
.list_header {
    background-color: lightgray;
    color: white;
    height: 7vh;
    box-shadow: inset 0vh 0vh 1.5vh 0.3vh grey;
    margin: 40px 0;
}

.buttons {
    display: flex;
    justify-content: center;

}

.buttons button {
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
}

.confirm {
    background: yellowgreen;
}

.cancel {
    background: coral;
}

.fake {
    background: #e9e9e9;
    color: #a4a4a4 !important;
}

.submenu {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submenu p {

}

.submenu-enter-active {
    animation: submenu-in .5s;
}
.submenu-leave-active {
    animation: submenu-in .2s reverse;
}
@keyframes submenu-in {
    0% {height: 0}
    100% {height: 290px;}
}

.list_operation {
    background: lavender;
}

.list_active {
    border: 7px solid deepskyblue;
}

.list_ready_state {
    animation: list_ready 2.5s infinite;
}
@keyframes list_ready {
    0% {}
    5% {}
    50% {background: #fff17a;}
    95% {}
    100% {}
}

.list_active_state {
    background: #E6FFEA;
}

.list_fale_state {
    background: #FFF0E8;
}

.timeActive {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 0.8em;
}

