@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.device {
    background: url(../images/elmt.png) no-repeat;
    width: 1126px;
    height: 686px;
    min-width: 1126px;
    min-height: 686px;
    display: flex;
    justify-content: center;
}

.screen {
    display: block;
    width: 800px;
    height: 600px;
    max-width: 800px;
    max-height: 600px;
    background: white;
    margin-top: 42px;
    overflow: hidden;
}

header {
    height: 70px;
    background-color: deepskyblue;
    width: 800px;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 10px 1px grey;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

header > div {
    display: flex;
    justify-content: space-between;
    padding: 0.5% 2%;
}

.flow ul {
    display: flex;
    font-size: 0.75em;
    margin: 20px 0;
    justify-content: space-evenly;

}

.flow ul li {
    display: flex;
    width: 11.5%;
    height: 85px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    border: rgba(0,0,0,0) 2px solid;
}

.flow_idle { background: lavender}
.flow_active { background: #E6FFEA; border: 2px solid deepskyblue !important}
.flow_completed { background: #7AFF90; }
.flow_fail { background: #ff2030; }
.flow_wait { animation: flow_wait 2.5s infinite; }
@keyframes flow_wait {
    0% {background: lavender;}
    5% {}
    50% {background: #fff17a;}
    95% {}
    100% {background: lavender;}
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current > div {
    display: flex;
    font-size: 2em;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px 0;
}

.currentTitle {
    background-color: lightgray;
    color: white;
    box-shadow: inset 0vh 0vh 10px 5px grey;
    height: 50px;
}

.currentFlow {
    background-color: lavender;
    height: 60px;
    position: relative;
}

.list_active {
    border: 7px solid deepskyblue;
}

.list_ready_state {
    animation: list_ready 2.5s infinite;
}
@keyframes list_ready {
    0% {}
    5% {}
    50% {background: #fff17a;}
    95% {}
    100% {}
}

.list_active_state { background: #E6FFEA; }
.list_fail_state   { background: #ff2030; }

.buttons {
    display: flex;
}

.buttons button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    outline: none;
}

.confirmForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 160px;
    text-align: center;
}

.confirmMessage {
    display: flex;
    width: 85%;
    font-size: 2em;
    padding: 0 15px;
    height: 100px;
    min-height: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    align-items: center;
    justify-content: center;
}

.confirm {
    background: yellowgreen;
}

.cancel {
    background: coral;
}


.submenu-enter-active {
    animation: submenu-in .5s;
}
.submenu-leave-active {
    animation: submenu-in .2s reverse;
}
@keyframes submenu-in {
    0% { margin-top: 500px; }
    100% { margin-top: 0; }
}

.timeActive {
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 0.6em;
}


.submenuButtons-enter-active {
    animation: submenuButtons-in .5s;
}
.submenuButtons-leave-active {
    animation: submenuButtons-in .2s reverse;
}
@keyframes submenuButtons-in {
    0% { margin-top: 500px; }
    100% { margin-top: 0; }
}

.timeActive {
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 0.6em;
}

@media screen and (max-width: 800px) {
    html {
        overflow: hidden;
    }

    body {
        background: black;
    }
    .device {
        background: black none;
        width: 800px;
        height: 600px;
        min-width: 800px;
        min-height: 600px;
    }
    .screen {
        margin-top: 0;
    }
}